/*Nav bar */
.nav {
    background-color: teal;
}

a.nav-link { 
    color: white;
    font-size: 30px;
    text-align: center;
}

/* card styling */
.container {
    margin-top: 2%;
    border-radius: 5px;
    border-color:teal;
    border-width: 5px;
}

.card {
    width: 75%;
    height: 75%;
    border-radius: 5px;
    border-color:teal;
    border-width: 5px;

}

/*projects images*/
.landing_page {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
    height: 75%;
}

/*about me card image */
.blenda {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
    height: 75%;
}

/* Text styling */

p{
    font-size: 20px;
}