/*Nav bar */
.nav {
    /* background-color: #C822FF; */

    background-color: rgb(43, 40, 40);
}

/* ul.nav.nav-tabs {
    width: 500px;
} */

a.nav-link { 
    color: white;
    font-size: 30px;
    text-align: center;
}

/* card styling */
.container {
    flex-wrap: wrap;
    margin-top:2%;
    margin-bottom:2%;
}

.card-body {
    padding:0%;
    border-radius: 5px;
    border-color:teal;
    border-width: 5px;
}
.card {
   /* display: -moz-grid-group; */
    width: 100%;
    height: 100%;
}

div.column {
    display: inline-block;
}
/* images */

div.card-body {
    padding:0%;
    background: rgb(200,34,255);
    background: linear-gradient(0deg, rgba(200,34,255,1) 0%, rgba(44,209,207,1) 49%, rgba(26,109,255,1) 100%);
}

/*Portfolio images*/
.landing_page {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.landing_page:hover {
    transform: scale(1.2);
}

.password-generator{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.password-generator:hover {
    transform: scale(1.2);
}

.dashboard {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.dashboard:hover {
    transform: scale(1.2);
}

.work-scheduler {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.dashboard:hover {
    transform: scale(1.2);
}

.weather-dashboard {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.weather-dashboard:hover {
    transform: scale(1.2);
}

.note-taker {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.note-taker:hover {
    transform: scale(1.2);
}

.workout-tracker {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.workout-tracker:hover {
    transform: scale(1.2);
}


/*about me card image */
.blenda {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: 50%;
}


/* Text styling */

p {
    font-size: 20px;
}

.card-repo, .card-deployed {
    display: inline-block;
    margin-right: 5%;
}

.github-logo {
    width: 10%;
    height: 10%;
    margin-top: 10%;
    margin-right: 5%;
}

.github-logo:hover {
    transform: scale(1.5);
}

.linkedin-logo {
    width: 10%;
    height: 10%;
    margin-top: 10%;
    margin-right: 5%;
}

.linkedin-logo:hover {
    transform: scale(1.5);
}
/* Footer */

.div.footer.text-center {
    /* margin-top: 2%; */
    background-color: rgb(43, 40, 40);
}

header {
    padding-top: 2%;
    background-color: #1A6DFF;
    padding-bottom: 2%;
}

h1 {
    font-weight:lighter;
    color: white;
}

.form {
    background-color: rgb(43, 40, 40);
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2% ;
    width: 60%;
    border-radius: 20px;
}

h2.title {
    color: snow;
    margin: 2%;
}

.li.input {
    display: flex;
    flex-direction: column;
}

.form-name, .form-lastName {
    width: 200px;
    height: 50px;
    justify-self: center;
}


.form-message {
    width: 200px;
    height: 100px;
}

.submit-button {
    width: 100px;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}

input {
    text-align: center;
}

.skill-logo  {
    text-align: center;
    width: 10%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

li.skill {
    width: 40%;
    display: inline;
    list-style-type:none;
}

.resume {
    background-color: rgb(43, 40, 40);
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2% ;
    width: 60%;
    border-radius: 20px;
}

h1, h2, p {
    color: snow;
}

a, a:hover, a:active, a:visited { 
    color: white; 
    font-size: 20px;
}
