/*Nav bar */
.nav {
    background-color: teal;
}

/* ul.nav.nav-tabs {
    width: 500px;
} */

a.nav-link { 
    color: white;
    font-size: 30px;
    text-align: center;
}

/* card styling */
.container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-body {
    border-radius: 5px;
    border-color:teal;
    border-width: 5px;
}
.card {
    display: inline-block;
    width: 75%;
    height: 75%;
}

/* images */


/*projects images*/
.landing_page {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.landing_page:hover {
    transform: scale(1.2);
}

.dashboard {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}

.dashboard:hover {
    transform: scale(1.2);
}

/*about me card image */
.blenda {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    height: 75%;
}


/* Text styling */

p {
    font-size: 20px;
}

.card-repo, .card-deployed {
    display: inline-block;
    margin-right: 5%;
}

.github-logo {
    width: 10%;
    height: 10%;
    margin-top: 10%;
    margin-right: 5%;
}

.github-logo:hover {
    transform: scale(1.5);
}

.linkedin-logo {
    width: 8%;
    height: 8%;
    margin-top: 10%;
    margin-right: 5%;
}

.linkedin-logo:hover {
    transform: scale(1.5);
}
/* Footer */

footer {
    margin-top: 2%;
}

header {
    padding-top: 2%;
    background-color: purple;
    padding-bottom: 2%;
}

h1 {
    font-weight:lighter;
    color: white;
}